/* Normalizando CSS: */
* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/*Armando estructura de cajas*/
body {
    border: 3px solid rgb(19, 10, 44);
    margin: 5px;
    padding: 10px;
}

/* Estilos del Header */
 header {
    border: 3px solid blue; 
    margin-bottom: 10px;
    padding: 5px;
}

/* Selector de etiqueta: */
nav {
    border: 2px solid rgb(75, 46, 155); 
    padding: 10px;
}
/* Selector de clase lleva siempre un . (punto) antes del nombre de la clase: */
.nav_Header {
    border: 2px dashed cadetblue; 
    padding: 25px;
}

.list-item_Header {
    border: 2px solid violet; 
    padding: 10px;
}

.link_Header {
    border: 1px solid purple;
    padding: 5px;
}

/* Estilos del Contenido (Main) */
/* Selector de Id lleva siempre una # (Almohadilla) antes del nombre del Id: */
#mainContent {
    border: 2px solid pink (156, 147, 147);
}

/* título*/
.h2 {
    border: 2px solid salmon;
    padding: 5px; 
}

.div {
    border: 2px solid blue;
    padding: 5px;
}

.h3 {
    border: 2px solid gold;
    padding: 5px;
}

.p {
    border: 2px solid slateblue;
    padding: 5px;
}

.image {
    border: 2px solid brown;
    padding: 5px;
}

.aside {
    border: 2px solid blueviolet;
    padding: 5px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

